.paginator {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 30px;
}

.paginator__display {
    display: flex;
    height: 30px;
    align-items: center;
    margin-right: 25px;
}

.paginator__list {
    display: flex;
    justify-content: space-between;
    width: 230px;
}

.paginator__item {
    border-radius: 50%;
}

.paginator__item:hover {
    background: #FFFFFF;
    color: #F5170E;
    transition: 0.5s;
}

.paginator__active {
    background: #FFFFFF;
    color: #F5170E;
}

.paginator__item-red:hover {
    background: #F5170E;
    color: #FFFFFF;
}

.paginator__active-red {
    background: #F5170E;
    color: #FFFFFF;
}

.paginator__number {
    display: flex;
    justify-content: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    font-weight: bold;
}
