.main {
    width: 100%;
    background: #F2F2F2;
    color: #000000;
    height: max-content;
    padding: 100px 0 90px;
}

.top-line {
    width: 100%;
    min-height: 410px;
}

.top-line__header {
    margin-bottom: 95px;
}

.top-line__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 115px;
}

.inner {
    display: block;
    width: 100%;
    background: #F4F5F5;
    color: #000000;
    height: max-content;
    padding: 90px 0 85px;
}

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    margin-bottom: 65px;
}
