.separator {
    background: url("../../img/backgrounds/rectangle.png") center no-repeat;
    background-color: #ffa98e;
    min-height: 360px;
    width: 100%;
}

.separator__content {
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    margin-top: 25px;
}

.separator__title {
    font-size: 48px;
    font-weight: bold;
    width: 595px;
    margin-right: 25px;
}

.separator img {
    height: 340px;
    width: 485px;
}
