.hero {
    min-height: 530px;
    width: 100%;
    margin-bottom: 220px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 315px;
    width: 45%;
    margin-top: 125px;
}

.hero__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.34;
}

.hero__text {
    font-size: 18px;
}
