.services__list {
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-bottom: 55px;

}

.services__item {
    display: flex;
    margin-bottom: 50px;

}

.services__item:last-child {
    margin-bottom: 0;
}

.service__img {
    height: 335px;
    width: 460px;
    border-radius: 5px;
}

.service__content {
    padding: 15px 20px 0px 55px;
}

.service__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    margin-bottom: 30px;
}

.service__text {
    color: #303030;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 50px;
}
